.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.vflex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu-text {
    padding-left: 1.11vw;
    font-size: 21px;
    font-weight: bold;
}
.trapezoid {
    content:' ';
    background:#3068c5;
    border-radius:10px 10px 0 0;
    width:70px;
    margin-top: 1.5vh;
    height:4px;
    display:block;
}
.app-mod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
